.main-page {
    font-family: "Verdana", sans-serif;
    width: 1366px;
    height: 100%;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    margin-left: 153px;
    margin-right: 147px;
}

/* HEADER STARTS */

.header {
    padding-top: 49px;
    padding-bottom: 23px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo-picture {
    display: inline-block;
    width: 46px;
    height: 44px;
    background-image: url(../img/logo@1X.png);
}

.logo-name {
    margin-left: 15px;
    text-transform: uppercase;
    position: relative;
    top: -1.8px;
}

.logo-big-text {
    font-size: 29px;
    font-weight: 700;
}

.logo-small-text {
    font-size: 18px;
    font-weight: 700;
}

.logo:hover .logo-name {
    color: #f26522;
}

.logo:hover .logo-picture {
    background-image: url(../img/logo-hover.png);
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 18px;
    line-height: 21px;
}

/* HEADER ENDS */

/* TOURS STARTS */

.tours {
    padding-top: 23px;
    padding-bottom:
}

.tours-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.tours-list-item {
    transition: 0.4s;
}

.tours-list-img {
    border: 2px solid #e8e8e8;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 17px 24px 0px #000000;
    border-image: linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;
    border-image-slice: 1;
}

.tours-list-link {
    display: inline-block;
    position: relative;
}

.tours-details-wrap {
    width: 100%;
    height: 0;
    overflow-y: hidden;
    transition: all 0.4s ease;
    position: absolute;
    box-sizing: border-box;
    bottom: 92px;
}

.tours-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px 18px 17px 21px;
    background-color: #f26522;
}

.from {
    font-size: 10px;
}

.euro {
    font-size: 20px;
}

.view-details {
    font-size: 14px;
}

.view-details::after {
    content: "\203A";
    width: 7px;
    height: 10px;
    margin-left: 15px;
}

.tours-name {
    margin-top: 20px;
    margin-bottom: 55px;
    font-size: 18px;
    text-align: center;
}

.tours-list-item:hover .tours-details-wrap {
    height: 63px;
    visibility: visible;
}

.tours-list-item:hover .tours-name {
    color: #f26522;
}

/* TOURS ENDS */

/* FOOTER STARTS */

.footer {
    padding-top: 6px;
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;
}

/* FOOTER ENDS */
